*.log
*.zip
*.tar.gz
*.rar
*.classpath
.vscode/tasks.json

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting
# Dont ignore gradle-wrapper jar
!gradle-wrapper.jar
