*.log
*.zip
*.tar.gz
*.rar
*.classpath
.vscode
.project

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting
# Dont ignore gradle-wrapper
!gradle-wrapper.jar
