# File endings to be ignored
*.class
*.classpath
*.ear
*.jar
*.log
*.rar
*.tar.gz
*.war
*.zip

# Directories to be ignored
.project
.vscode

# Unnecessary gradle files and directories to be ignored
/build/
.gradle
.settings/*
/bin/

# Gradle GUI configuration to be ignored
gradle-app.setting

# Do not ignore gradle-wrapper.jar
!gradle-wrapper.jar

